.Con {
    padding: 40px 0;
    height: 90vh;
    box-sizing: border-box;

    .Con_title {
        margin: auto;
        width: 80%;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 45px;
        letter-spacing: 3.5px;
        text-align: center;
        font-style: italic;
    }
    .Con_text {
        margin: auto;
        width: 90%;
        font-size: 14px;
        a {
            text-decoration: underline;
        }
    }
    .Con_wrapper {
        margin: auto;
        margin-top: 30px;
        width: 80%;
        max-width: 640px;
    }
    .Con_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Con_flex:not(:nth-child(1)) {
        margin-top: 20px;
    }
    .Con_form-input {
        background: none;
        border: 1px solid #DDDBF5;
        border-radius: 20px;
        height: 35px;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 14px;
        width: 60%;
        color: white;
    }
    .Con_form-input_big {
        height: 200px;
    }
    .Con_form-btn_send {
        margin-top: 30px;
        border: 1px solid #DDDBF5;
        border-radius: 20px;
        color: white;
        padding: 8px;
        display: inline-block;
        width: 200px;
        font-size: 14px;
    }
}
@media screen and (min-width: 740px) {
    .Con {
        .Con_text {
            font-size: 18px;
        }
    }
}