.Home {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Home_canvas {
        margin: auto;
        max-width: 1440px;
        width: 100vw;
        min-height: 500px;
        height: 58vw;
        max-height: 700px;
    }
}